@charset "UTF-8";
.navigation-set-flex__link {
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --header-hero-color: #ffffff;
  --advantages-our-team-color: #f5f4fa;
  --footer-hero-bg-color: #2f303a;
  --link-hover-color: #2196f3;
  --accent-link-color: #afb1b8;
  --text-first-color: #757575;
  --text-second-color: #212121;
  --text-third-color: #2196f3;
  --text-fourth-color: #f5f4fa;
  --text-fifth-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-first-color);
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1600px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.social-icons-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team-set__social-icons-set {
  margin-top: 16px;
}

.join__social-icons-set {
  margin-top: 20px;
}

.social-icons-set__item {
  height: 44px;
  width: 44px;
}

.social-icons-set__item + .social-icons-set__item {
  margin-left: 10px;
}

.social-icons-set__link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social-icons-set__link:hover, .social-icons-set__link:focus {
  background-color: var(--link-hover-color);
}

.social-icons-set__icon {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.social-icons-set__link:hover .social-icons-set__icon,
.social-icons-set__link:focus .social-icons-set__icon {
  color: var(--text-fifth-color);
}

.social-icons-set__link--color {
  color: var(--accent-link-color);
}

.social-icons-set__link--bg-color {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-fifth-color);
}

/* index.html */
.header {
  background-color: var(--header-hero-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 23px;
}

@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 15px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  color: var(--link-hover-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon {
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-flex {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-flex {
    display: block;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-flex {
    margin-left: 93px;
  }
}

.navigation-set-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-set-flex__item:not(:first-child) {
  margin-left: 50px;
}

.navigation-set-flex__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-second-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-set-flex__link:hover, .navigation-set-flex__link:focus {
  color: var(--text-third-color);
}

.logo {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-second-color);
}

.logo:hover, .logo:focus {
  color: var(--text-third-color);
}

.logo__accent {
  color: var(--text-third-color);
}

.logo__accent-studio {
  color: var(--text-fifth-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover .logo__accent-studio,
.logo:focus .logo__accent-studio {
  color: var(--text-third-color);
}

.contacts-set-flex {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-set-flex {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-set-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts-set-flex__item:last-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-set-flex__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts-set-flex__item:last-child {
    margin-left: 30px;
    margin-top: 0;
  }
}

.contacts-set-flex__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-first-color);
}

.contacts-set-flex__link:hover, .contacts-set-flex__link:focus {
  color: var(--text-third-color);
}

.contacts-set-flex__icon {
  margin-right: 10px;
  fill: currentColor;
}

.navigation-set-flex__link--current {
  position: relative;
  color: var(--text-third-color);
}

.navigation-set-flex__link--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--link-hover-color);
  position: absolute;
  bottom: 0;
  border-radius: 2px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--header-hero-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.menu-toggle:hover, .menu-toggle:focus {
  color: var(--link-hover-color);
}

/* Навигация */
.navigation-set__item:nth-child(2) {
  margin-top: 36px;
  margin-bottom: 32px;
}

.navigation-set__link {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-second-color);
}

.navigation-set__link:hover, .navigation-set__link:focus {
  color: var(--text-third-color);
}

.navigation-set__link--current {
  color: var(--text-third-color);
}

/* Контакты */
.contacts-set {
  margin-top: 306px;
  margin-bottom: 64px;
}

.contacts-set__item:first-child {
  margin-bottom: 32px;
}

.contacts-set__link-tel {
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-third-color);
}

.contacts-set__link-tel:hover, .contacts-set__link-tel:focus {
  color: var(--text-third-color);
}

.contacts-set__link-mail {
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-first-color);
}

.contacts-set__link-mail:hover, .contacts-set__link-mail:focus {
  color: var(--text-third-color);
}

/* Соц сети */
.social-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-mob__item:not(:first-child) {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.social-mob__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-third-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/background-heder-480-1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background-heder-480-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/background-heder-480-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background-heder-480-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/background-heder-768-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background-heder-768-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/background-heder-768-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background-heder-768-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/background-heder-1600-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background-heder-1600-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/background-heder-1600-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background-heder-1600-2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-hero-color);
}

@media (min-width: 480px) {
  .hero__title {
    width: 360px;
    height: 84px;
  }
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--header-hero-color);
  background-color: var(--link-hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.advantages-set {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .advantages-set {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages-set__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages-set__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-set__item {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.advantages__container-icon {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--advantages-our-team-color);
}

.advantages-set__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-second-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages-set__title {
    text-align: left;
  }
}

.advantages-set__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.display {
  display: none;
}

@media screen and (min-width: 1200px) {
  .display {
    display: block;
  }
}

.section--padding {
  padding-top: 0;
}

.our-work-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.our-work-set__item {
  position: relative;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
}

.our-work-set__lebel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-fifth-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section--bg-color {
  background-color: var(--advantages-our-team-color);
}

.our-team-set {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .our-team-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.our-team-set__item {
  margin-bottom: 30px;
  background-color: var(--header-hero-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .our-team-set__item {
    margin: 15px;
  }
}

.our-team-set__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .our-team-set__wrap {
    padding-bottom: 30px;
  }
}

.our-team-set__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--text-first-color);
}

.our-team-set__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}

.clients-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-set__item {
  width: 210px;
  height: 92px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-set__item {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-set__item {
    width: 170px;
    height: 92px;
  }
}

.clients-set__link {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--accent-link-color);
  border: 1px solid var(--accent-link-color);
  border-radius: 4px;
}

.clients-set__link:hover, .clients-set__link:focus {
  border-color: var(--link-hover-color);
}

.clients-set__icon {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.clients-set__link:hover .clients-set__icon,
.clients-set__link:focus .clients-set__icon {
  color: var(--link-hover-color);
}

.section--footer {
  background-color: var(--footer-hero-bg-color);
}

.container--footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 76px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .container--footer {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .logo-address-container {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-address-container {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address {
  margin-top: 20px;
}

.address__item:not(:first-child) {
  margin-top: 8px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
  color: var(--text-first-color);
}

.address__link:hover, .address__link:focus {
  color: var(--text-third-color);
}

.address__link--accent {
  color: var(--text-fifth-color);
}

.join {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .join {
    padding: 0;
  }
}

.join__text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-fifth-color);
}

@media screen and (min-width: 1200px) {
  .sign-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 93px;
  }
}

.sign-form__label {
  width: 358px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-fifth-color);
}

.sign-form__input {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: var(--text-fifth-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .sign-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.sign-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-fifth-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  background-color: var(--link-hover-color);
}

@media screen and (min-width: 1200px) {
  .sign-form__button {
    margin: 0;
  }
}

.sign-form__button-icon {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 93.75%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--header-hero-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 485px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-button {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus {
  color: var(--link-hover-color);
}

.modal__close-icon {
  fill: currentColor;
}

.callback-form {
  display: block;
  padding: 40px;
}

.callback-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}

@media screen and (min-width: 1200px) {
  .callback-form__title {
    line-height: 1.15;
  }
}

.callback-form__label {
  display: block;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-first-color);
}

.callback-form__label + .callback-form__label {
  margin-top: 10px;
}

.callback-form__wrap {
  display: block;
  position: relative;
  margin-top: 4px;
  color: var(--text-second-color);
}

.callback-form__input {
  cursor: pointer;
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  color: var(--text-first-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-second-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form__input:focus {
  border-color: var(--link-hover-color);
  outline: none;
}

.callback-form__comment {
  display: block;
  margin-top: 4px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-second-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form__comment:focus {
  border-color: var(--link-hover-color);
  outline: none;
}

.callback-form__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(12px);
          transform: translateY(-50%) translateX(12px);
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form__input:focus + .callback-form__icon {
  fill: var(--link-hover-color);
}

.callback-form__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-first-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .callback-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.callback-form__checkbox-icon {
  margin-right: 7px;
  border: 2px solid var(--text-second-color);
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form__checkbox-input:checked + .callback-form__checkbox-icon {
  border-color: var(--link-hover-color);
  background-color: var(--link-hover-color);
}

.callback-form__callback-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  background: #188ce8;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-fifth-color);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form__callback-button:hover, .callback-form__callback-button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.callback-form__policy {
  padding-left: 4px;
  color: var(--text-third-color);
}

/* Portfolio */
.exemples-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .exemples-set {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.exemples-set__item:not(:last-child) {
  margin-right: 8px;
  padding: 0;
}

.exemples-set__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
  display: block;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  cursor: pointer;
  line-height: 1.63;
  background-color: var(--text-fourth-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exemples-set__button:hover,
.exemples-set__button:focus {
  color: var(--text-fourth-color);
  background-color: var(--link-hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.galery-set {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .galery-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.galery-set__item {
  margin-bottom: 30px;
  background-color: var(--header-hero-color);
}

@media screen and (min-width: 768px) {
  .galery-set__item {
    margin: 15px;
  }
  .galery-set__item:nth-child(-n + 2) {
    max-width: 354px;
  }
}

.galery-set__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-set__link:hover,
.galery-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery-set__wrap {
  position: relative;
  overflow: hidden;
}

.galery-set__text {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--text-fifth-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-set__link:hover .galery-set__text,
.galery-set__link:focus .galery-set__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.galery-set__wraper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}

.galery-set__item:nth-child(-n + 2) .galery-set__wraper {
  height: 146px;
}

.galery-set__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-second-color);
}

.galery-set__name {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-first-color);
}
/*# sourceMappingURL=main.css.map */