.advantages-set {
  // @extend %set;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    margin: 0;
    margin-right: -30px;
  }
}
.advantages-set__item:not(:last-child) {
  // @extend %set-item;
  margin-bottom: 30px;
}
.advantages__container-icon {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--advantages-our-team-color);
}

.advantages-set__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-second-color);
}
.advantages-set__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
