.header {
  background-color: var(--header-hero-color);
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 80px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
  }
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
