.header {
  background-color: var(--header-hero-color);
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 23px;

  @media screen and (min-width: 768px) {
    height: 80px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 15px;
  }
}
.menu-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button__icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
