.navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.navigation-set {
  display: flex;
}

.navigation-set__item:not(:first-child) {
  margin-left: 50px;
}
.navigation-set__link {
  @extend %link-style;
  display: block;
  color: var(--text-second-color);

  &:hover,
  &:focus {
    color: var(--text-third-color);
  }
}
