:root {
  --header-hero-color: #ffffff;
  --advantages-our-team-color: #f5f4fa;
  --footer-hero-bg-color: #2f303a;
  --link-hover-color: #2196f3;
  --accent-link-color: #afb1b8;
  --text-first-color: #757575;
  --text-second-color: #212121;
  --text-third-color: #2196f3;
  --text-fourth-color: #f5f4fa;
  --text-fifth-color: #ffffff;
}
